.subnav{
	display: none;

	width: 16.5rem;
	padding: 0.5rem 0;

	background-color: #3137C9;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 6px 8px rgba($black, .2);

	position: absolute;
	left: 0;
}

.subnav__link{
	display: block;
	padding: 0.45rem 1.2rem;

	font-size: 1.2rem;
	text-decoration: none;
	color: $white;
	transition: background-color .2s ease-in-out;

	&:hover{
		background-color: darken(#3137C9, 5%);
		text-decoration: none;
	}

}


